<nav class="navbar navbar-light fixed-top bg-light navbar-expand-lg">
    <a class="navbar-brand" href="#" id="btnTitle">
        <img src="/images/icon.png" width="32" height="32" class="d-inline-block align-top rounded" alt="" /> PECS Remote
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#" id="btnHome">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#" id="btnPlaylists">Playlists</a>
            <a class="nav-item nav-link" href="#" id="btnLimits">Limits</a>
            <a class="nav-item nav-link" href="#" id="btnHistory">History</a>
            <a class="nav-item nav-link" href="#" id="btnSetup">Setup</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="#" id="btnLogout">Logout</a>
        </div>
    </div>
</nav>