body {
    background: #3076bc;
    background-image: url('../images/bgtile-256.png');
    margin: 1em;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%
}

.hidden {
    display: none;
}

.main {
    padding-top: 58px;
}

.login-form {
    border: 1px solid #59606d;
    border-radius: 0.5em;
    background-color: #fff;
    padding: 1em;
}

.media-item {
    width: 260px;
}

.media-item-thumb a {
    position: relative;
    width: 100%;
}

.media-item-thumb-duration {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    background: #000;
    background: rgba(0,0,0,0.7);
}

.media-player-details-views {
    text-wrap: none;
    font: bold;
}

.media-player-inner video {
    width: 100%;
    height: auto;
}

.login-form > div > img {
    margin-bottom: 1em;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #ffffff;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

    .loader:before,
    .loader:after {
        content: '';
        position: absolute;
        top: 0;
    }

    .loader:before {
        left: -3.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .loader:after {
        left: 3.5em;
    }

.media-player-container {
    background-color: #fff;
}

.media-items-container {
    background-color: #fff;
}

@-webkit-keyframes load7 {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
